<link rel="stylesheet" href="/css/user_profile.css">
<form class="container" action="/user/login" method="POST">
    <input name="userMail" type="email" placeholder="abc@mail.com" required>
    <input name="userPwd" type="password" placeholder="Password" required>
    <button>Submit</button>
</form>