<link rel="stylesheet" href="/css/layout.css">
<form class="container" action="/user/create-session" method="POST">
    <input name="email" type="email" placeholder="abc@mail.com" required>
    <input name="password" type="password" placeholder="Password" required>
    <button>Submit</button>
</form>