<link rel="stylesheet" href="/css/user_profile.css">
<form class="container" action="/user/create" method="POST">
    <input name="name" type="text" placeholder="Name">
    <input name="email" type="email" placeholder="abc@mail.com" required>
    <input name="password" type="password" placeholder="Password" required>
    <button>Submit</button>
</form>